{% extends 'base.html.twig' %}

{% block title %}Tornooi index{% endblock %}

{% block body %}
    <h1>Tornooi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Omschrijving</th>
                <th>Datum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tornooi in tornoois %}
            <tr>
                <td>{{ tornooi.id }}</td>
                <td>{{ tornooi.omschrijving }}</td>
                <td>{{ tornooi.datum ? tornooi.datum|date('Y-m-d H:i:s T') : '' }}</td>
                <td>
                    <a href="{{ path('tornooi_show', {'id': tornooi.id}) }}">show</a>
                    <a href="{{ path('tornooi_edit', {'id': tornooi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tornooi_new') }}">Create new</a>
{% endblock %}
